<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diamond Price Prediction</title>
</head>
<body>
    <h1>Diamond Price Prediction</h1>
    <form method="POST" action="/">
        <label for="carat">Carat:</label>
        <input type="text" id="carat" name="carat" required><br><br>

        <label for="cut">Cut:</label>
        <select id="cut" name="cut" required>
            <option value="0">Ideal</option>
            <option value="2">Very Good</option>
            <option value="3">Good</option>
            <option value="4">Fair</option>
            <option value="1">Premium</option>
        </select><br><br>

        <label for="color">Color:</label>
        <select id="color" name="color" required>
            <option value="4">D</option>
            <option value="1">E</option>
            <option value="2">F</option>
            <option value="0">G</option>
            <option value="3">H</option>
            <option value="5">I</option>
            <option value="6">J</option>
        </select><br><br>

        <label for="clarity">Clarity:</label>
        <select id="clarity" name="clarity" required>
            <option value="6">IF</option>
            <option value="5">VVS1</option>
            <option value="4">VVS2</option>
            <option value="2">VS1</option>
            <option value="1">VS2</option>
            <option value="0">SI1</option>
            <option value="3">SI2</option>
            <option value="7">I1</option>
        </select><br><br>

        <label for="depth">Depth:</label>
        <input type="text" id="depth" name="depth" required><br><br>

        <label for="table">Table:</label>
        <input type="text" id="table" name="table" required><br><br>

        <label for="length">Length:</label>
        <input type="text" id="Length" name="length" required><br><br>

        <label for="width">Width:</label>
        <input type="text" id="Width" name="width" required><br><br>

        <label for="height">Height:</label>
        <input type="text" id="Height" name="height" required><br><br>

        <input type="submit" value="Predict">
    </form>

    {% if pred_value %}
    <h2>Predicted Price:</h2>
    <p>{{ pred_value }}</p>
    {% endif %}
</body>
</html>
